/* Button */
/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/
@-webkit-keyframes beclinic_spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes beclinic_spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*--------------------------------------------------------------
## Blog layouts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Posts List
--------------------------------------------------------------*/
.posts-list--default .no-thumb .posts-list__item-content,
.posts-list--default .post-thumbnail:empty + .posts-list__item-content {
  padding: 20px; }
  @media (min-width: 1200px) {
    .posts-list--default .no-thumb .posts-list__item-content,
    .posts-list--default .post-thumbnail:empty + .posts-list__item-content {
      padding: 40px 35px 22px; } }

.posts-list--default.list-style-default .default-item + .default-item {
  margin-top: 40px; }

/*-------------------
### Default Styles
---------------------*/
body:not(.sidebar_enabled) .list-style-default .default-item {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto; }

.list-style-default .default-item .post-thumbnail {
  margin-bottom: 26px; }

.list-style-default .default-item .entry-title {
  font-size: 24px; }

@media (min-width: 640px) {
  .list-style-default .default-item .entry-content {
    font-size: 18px;
    font-size: 1.125rem; } }

.list-style-default .default-item .entry-footer .entry-meta .tags-links + div:not(:empty) {
  margin-top: 28px; }

.list-style-default .default-item .entry-footer .entry-meta > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }
  .list-style-default .default-item .entry-footer .entry-meta > div > * {
    margin-left: 0.9375rem;
    margin-right: 0.9375rem; }

/*--------------------------------------------------------------
### Posts List Formats
--------------------------------------------------------------*/
.default-item.format-post .entry-footer .entry-meta .tags-links + div:not(:empty) {
  margin-top: 28px; }

.default-item.format-post .entry-footer .entry-meta > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }
  .default-item.format-post .entry-footer .entry-meta > div > * {
    margin-left: 0.9375rem;
    margin-right: 0.9375rem; }

/*--------------------------------------------------------------
### Grid Posts List
--------------------------------------------------------------*/
.posts-list.posts-list--grid.list-style-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }

.posts-list.posts-list--grid.list-style-default .posts-list__item.grid-item {
  margin-bottom: 50px; }

.posts-list.posts-list--grid.posts-list-3-cols .grid-item {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  max-width: calc(100%);
  width: calc(100%);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%);
  flex: 0 0 calc(100%); }
  @media (min-width: 640px) {
    .posts-list.posts-list--grid.posts-list-3-cols .grid-item {
      max-width: calc(100% / 2);
      width: calc(100% / 2);
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 2);
      flex: 0 0 calc(100% / 2); } }
  @media (min-width: 940px) {
    .posts-list.posts-list--grid.posts-list-3-cols .grid-item {
      max-width: calc(100% / 3);
      width: calc(100% / 3);
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 3);
      flex: 0 0 calc(100% / 3); } }

.posts-list.posts-list--grid.posts-list-2-cols .grid-item {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  max-width: calc(100%);
  width: calc(100%);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%);
  flex: 0 0 calc(100%); }
  @media (min-width: 640px) {
    .posts-list.posts-list--grid.posts-list-2-cols .grid-item {
      max-width: calc(100% / 2);
      width: calc(100% / 2);
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 2);
      flex: 0 0 calc(100% / 2); } }

.posts-list.posts-list--grid .grid-item.posts-list__item,
.posts-list.posts-list--grid .grid-item .posts-list__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }

.posts-list.posts-list--grid .grid-item .post-thumbnail {
  overflow: hidden;
  margin-bottom: 0;
  line-height: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.posts-list.posts-list--grid .grid-item.has-post-thumbnail .posts-list__item-content {
  padding: 30px 0; }

.posts-list.posts-list--grid .grid-item .posts-list__item-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 30px 20px;
  border-radius: 0; }
  @media (min-width: 940px) {
    .posts-list.posts-list--grid .grid-item .posts-list__item-content {
      padding: 35px 40px; } }

.posts-list.posts-list--grid .grid-item .entry-header .entry-meta {
  margin-bottom: 10px; }

.posts-list.posts-list--grid .grid-item .entry-title {
  margin: 0 0 5px; }

.posts-list.posts-list--grid .grid-item .entry-content {
  margin-bottom: 5px; }
  .posts-list.posts-list--grid .grid-item .entry-content p {
    margin: 0 0 0.43em; }

.posts-list.posts-list--grid .grid-item .entry-footer .space-between-content {
  width: 100%; }
  .posts-list.posts-list--grid .grid-item .entry-footer .space-between-content .btn-link {
    margin-top: 7px; }
  .posts-list.posts-list--grid .grid-item .entry-footer .space-between-content .edit-link {
    margin-top: 0;
    margin-right: 0;
    line-height: 22px; }

.posts-list.posts-list--grid .grid-item .entry-footer .posted-by img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-radius: 50%; }

/*--------------------------------------------------------------
### Justify Posts List
--------------------------------------------------------------*/
.posts-list {
  /*------------------ layouts Styles -------------------*/ }
  .posts-list--vertical-justify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    .posts-list--vertical-justify > .post {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100%/3 - 1.875rem);
      flex: 1 0 calc(100%/3 - 1.875rem);
      max-width: calc(100%/3 - 1.875rem);
      margin-right: 0.9375rem;
      margin-left: 0.9375rem; }
      .posts-list--vertical-justify > .post:nth-child(7n + 2), .posts-list--vertical-justify > .post:nth-child(7n + 3) {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(100%/1.5 - 1.875rem);
        flex: 1 0 calc(100%/1.5 - 1.875rem);
        max-width: calc(100%/1.5 - 1.875rem); }
    @media (max-width: 1119px) {
      .posts-list--vertical-justify.list-style-default > .post {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(100%/2 - 1.875rem);
        flex: 1 0 calc(100%/2 - 1.875rem);
        max-width: calc(100%/2 - 1.875rem); }
        .posts-list--vertical-justify.list-style-default > .post:nth-child(7n + 2), .posts-list--vertical-justify.list-style-default > .post:nth-child(7n + 3) {
          -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100%/2 - 1.875rem);
          flex: 1 0 calc(100%/2 - 1.875rem);
          max-width: calc(100%/2 - 1.875rem); } }
    @media (max-width: 639px) {
      .posts-list--vertical-justify.list-style-default > .post {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(100% - 1.875rem);
        flex: 1 0 calc(100% - 1.875rem);
        max-width: calc(100% - 1.875rem); }
        .posts-list--vertical-justify.list-style-default > .post:nth-child(7n + 2), .posts-list--vertical-justify.list-style-default > .post:nth-child(7n + 3) {
          -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% - 1.875rem);
          flex: 1 0 calc(100% - 1.875rem);
          max-width: calc(100% - 1.875rem); } }
  .posts-list__item.justify-item {
    margin-bottom: 50px; }
    .posts-list__item.justify-item.posts-list__item,
    .posts-list__item.justify-item .posts-list__item-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%; }
    .posts-list__item.justify-item .post-thumbnail__link {
      position: relative;
      display: block; }
      .posts-list__item.justify-item .post-thumbnail__link .justify-item__thumbnail {
        display: block;
        background-size: cover;
        background-position: center;
        min-height: 220px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
        @media (min-width: 940px) {
          .posts-list__item.justify-item .post-thumbnail__link .justify-item__thumbnail {
            min-height: 250px; } }
        @media (min-width: 1120px) {
          .posts-list__item.justify-item .post-thumbnail__link .justify-item__thumbnail {
            min-height: 370px; } }
    .posts-list__item.justify-item.has-post-thumbnail .posts-list__item-content {
      padding: 30px 0; }
    .posts-list__item.justify-item .posts-list__item-content {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      padding: 30px 20px;
      border-radius: 5px; }
      @media (min-width: 940px) {
        .posts-list__item.justify-item .posts-list__item-content {
          padding: 35px 40px; } }
    .posts-list__item.justify-item .tags-links {
      margin-bottom: 8px; }
      .posts-list__item.justify-item .tags-links a {
        display: inline-block; }
    .posts-list__item.justify-item .entry-header .entry-meta {
      margin-bottom: 10px; }
    .posts-list__item.justify-item .entry-title {
      margin: 0 0 5px; }
    .posts-list__item.justify-item .entry-content {
      margin-bottom: 5px; }
      .posts-list__item.justify-item .entry-content p {
        margin: 0 0 0.43em; }
    .posts-list__item.justify-item .entry-footer {
      margin-top: auto; }
      .posts-list__item.justify-item .entry-footer .space-between-content {
        width: 100%; }
        .posts-list__item.justify-item .entry-footer .space-between-content .btn-link {
          margin-top: 7px; }
        .posts-list__item.justify-item .entry-footer .space-between-content .edit-link {
          margin-top: 0;
          margin-right: 0;
          line-height: 22px; }
      .posts-list__item.justify-item .entry-footer .posted-by img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        border-radius: 50%; }
